<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
	  <add id="Test_News::test" 
        title="News"
        translate="title" 
        module="Test_News" 
        sortOrder="70"
        dependsOnModule="Test_News" 
        resource="Test_News::test"/>

	  <add id="Test_News::news" 
      title="Manage News"
       translate="title"
        module="Test_News" 
        parent="Test_News::test"
         sortOrder="50"
          dependsOnModule="Test_News" 
          resource="Test_News::news"/>

	  <add id="Test_News::news_allnews"
       title="All News" 
       translate="title"
        module="Test_News" 
        parent="Test_News::news"
         sortOrder="10" 
         dependsOnModule="Test_News" 
         action="news/allnews" 
         resource="Test_News::news_allnews"/>

	  <add id="Test_News::settings"
       title="Settings"
        translate="title"
         module="Test_News"
          parent="Test_News::test"
           sortOrder="60"
            dependsOnModule="Test_News"
             resource="Test_News::settings"/>

	  <add id="Test_News::news_config" 
      title="Configuration"
      translate="title" 
      module="Test_News" 
      parent="Test_News::settings" 
      sortOrder="10"
       dependsOnModule="Test_News" 
       action="adminhtml/system_config/edit/section/test_news" 
       resource="Test_News::news_config"/>
	</menu>
</config>
